Repository ol3d/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, terraform-fmt, packer-fmt, markdownlint

.pre-commit-config.yaml:

---
# Pre-commit hooks using devbox-installed tools (language: system)
# Config files in .github/linters/ remain the single source of truth
# For manual runs, use: task lint:fix:all or task lint:check:all
fail_fast: false
repos:
  - repo: local
    hooks:
      # Prettier - formatting for JSON, YAML, Markdown, etc.
      - id: prettier
        name: Prettier
        entry: prettier --write --config .github/linters/.prettierrc.yaml --ignore-path .github/linters/.prettierignore
        language: system
        types_or: [json, yaml, markdown, javascript, css, html]
        exclude: ^(.devbox|.cache|node_modules|docs)/|\.ansible-lint$|\.tflint\.hcl$

      # Terraform formatting
      - id: terraform-fmt
        name: Terraform Format
        entry: terraform fmt -recursive lab/provision/terraform/
        language: system
        files: \.tf$
        pass_filenames: false

      # Packer formatting
      - id: packer-fmt
        name: Packer Format
        entry: packer fmt -recursive lab/provision/packer/
        language: system
        files: \.pkr\.hcl$
        pass_filenames: false

      # Shell formatting
      - id: shfmt
        name: Shell Format
        entry: shfmt -w -i 2 -ci -bn
        language: system
        types: [shell]

      # Markdown linting
      - id: markdownlint
        name: Markdown Lint
        entry: markdownlint-cli2 --config .github/linters/.markdownlint.yaml
        language: system
        types: [markdown]
        exclude: ^(docs|node_modules|\.devbox)/|^\.github/(ISSUE_TEMPLATE|PULL_REQUEST_TEMPLATE)

  # YAML linting (Python-based, works in isolated env)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.github/linters/.yamllint.yaml]

  # # Ansible linting (Python-based)
  # - repo: https://github.com/ansible/ansible-lint
  #   rev: v25.9.2
  #   hooks:
  #     - id: ansible-lint
  #       args: [-c=.github/linters/.ansible-lint]
  #       files: ^lab/provision/ansible/

  # Shell script checks (Python wrapper)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Security checks for secrets
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1024"]

linters upgrade
  .github/linters/.ansible-lint
  .github/linters/.prettierignore
  .github/linters/.tflint.hcl
  .github/linters/.yamllint.yaml
Due: prettier

Linting fixes and formatting
  .github/labels.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yml
  .gitignore
  .sops.yaml
  Taskfile.yml
Due: prettier

Large prettier formatting fix
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Due: none

Purge unused files
  .github/renovate.json5
  docs/archive/index.md
  lab/provision/packer/proxmox/ubuntu-server-jammy/files/ubuntu-server-jammy.cfg
  lab/provision/packer/proxmox/ubuntu-server-jammy/http/meta-data
  lab/provision/packer/proxmox/ubuntu-server-jammy/http/user-data
  lab/provision/packer/proxmox/ubuntu-server-jammy/main.pkr.hcl
  lab/provision/packer/proxmox/ubuntu-server-jammy/vars.auto.pkrvars.hcl
  lab/provision/packer/proxmox/ubuntu-server-jammy/vars.pkr.hcl
Due: packer-fmt

packer formatting / linting updates
  lab/provision/packer/proxmox/ubuntu-server-noble/http/user-data
  lab/provision/packer/proxmox/ubuntu-server-noble/main.pkr.hcl
  lab/provision/packer/proxmox/ubuntu-server-noble/vars.auto.pkrvars.hcl
  lab/provision/packer/proxmox/ubuntu-server-noble/vars.pkr.hcl
Due: packer-fmt

Mass linting change to terraform modules
  lab/provision/terraform/modules/aws/dynamodb.tf
  lab/provision/terraform/modules/aws/kms-key.tf
  lab/provision/terraform/modules/aws/main.tf
  lab/provision/terraform/modules/aws/s3.tf
  lab/provision/terraform/modules/aws/secret.sops.yaml
  lab/provision/terraform/modules/backblaze/b2-bucket.tf
  lab/provision/terraform/modules/backblaze/main.tf
  lab/provision/terraform/modules/backblaze/secret.sops.yaml
  lab/provision/terraform/modules/cloudflare/dns_records.tf
  lab/provision/terraform/modules/cloudflare/secret.sops.yaml
  lab/provision/terraform/modules/cloudflare/zone_settings.tf
  lab/provision/terraform/modules/github/main.tf
  lab/provision/terraform/modules/github/secret.sops.yaml
  lab/provision/terraform/modules/github/user_ssh_key.tf
  lab/provision/terraform/modules/mailgun/domain-credential.tf
  lab/provision/terraform/modules/mailgun/domain.tf
  lab/provision/terraform/modules/mailgun/secret.sops.yaml
  lab/provision/terraform/modules/proxmox/k3s-agents.tf
  lab/provision/terraform/modules/proxmox/k3s-masters.tf
  lab/provision/terraform/modules/proxmox/main.tf
  lab/provision/terraform/modules/proxmox/secret.sops.yaml
  lab/provision/terraform/modules/proxmox/variables.tf
Due: prettier, terraform-fmt

Large prettier / lint updates for ansible files
  lab/provision/ansible/home-auto/inventory/group_vars/home-auto.sops.yml
  lab/provision/ansible/home-auto/inventory/group_vars/home-auto.yml
  lab/provision/ansible/home-auto/inventory/host_vars/home-auto-01.sops.yml
  lab/provision/ansible/kubernetes/inventory/group_vars/k3s-cluster/k3s-cluster.yml
  lab/provision/ansible/kubernetes/inventory/host_vars/k3s-agent-01.sops.yml
  lab/provision/ansible/kubernetes/inventory/host_vars/k3s-agent-02.sops.yml
  lab/provision/ansible/kubernetes/inventory/host_vars/k3s-agent-03.sops.yml
  lab/provision/ansible/kubernetes/inventory/host_vars/k3s-master-01.sops.yml
  lab/provision/ansible/kubernetes/inventory/host_vars/k3s-master-02.sops.yml
  lab/provision/ansible/kubernetes/inventory/host_vars/k3s-master-03.sops.yml
  lab/provision/ansible/kubernetes/playbooks/configure-base-nodes.yml
  lab/provision/ansible/kubernetes/playbooks/tasks/ssh.yml
  lab/provision/ansible/opnsense/inventory/group_vars/router/router.sops.yml
  lab/provision/ansible/opnsense/inventory/host_vars/opnsense.sops.yml
  lab/provision/ansible/opnsense/playbooks/configure-router.yml
  lab/provision/ansible/proxmox/inventory/group_vars/pve-cluster/pve-cluster.sops.yml
  lab/provision/ansible/proxmox/inventory/group_vars/pve-cluster/pve-cluster.yml
  lab/provision/ansible/proxmox/inventory/group_vars/pve/pve.sops.yml
  lab/provision/ansible/proxmox/inventory/host_vars/pve-01.sops.yml
  lab/provision/ansible/proxmox/inventory/host_vars/pve-02.sops.yml
  lab/provision/ansible/proxmox/inventory/host_vars/pve-03.sops.yml
  lab/provision/ansible/proxmox/inventory/host_vars/pve-s.sops.yml
  lab/provision/ansible/proxmox/playbooks/configure-stage.yml
  lab/provision/ansible/proxmox/playbooks/purge_ceph_disks.yml
  lab/provision/ansible/proxmox/playbooks/purge_ceph_osd.yml
  lab/provision/ansible/proxmox/playbooks/test-nodes.yml
  lab/provision/ansible/switch/inventory/group_vars/switch/switch.sops.yml
  lab/provision/ansible/switch/inventory/host_vars/c2960l.sops.yml
  lab/provision/ansible/switch/inventory/host_vars/c2960l.yml
  lab/provision/ansible/switch/inventory/host_vars/c2960lp.sops.yml
  lab/provision/ansible/switch/playbooks/configure-switch.yml
Due: prettier

.vscode configuration and claude autostart
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier

devbox claude and linters; more formatting
  README.md
  devbox.json
  devbox.lock
Due: prettier, markdownlint

docs formatting
  docs/concepts/documentation/documentation-methodology.md
  docs/how-to/documentation/creating-documentation.md
  docs/how-to/storage/drive-health.md
  docs/reference/cisco/cisco-ws-2960l-48ts-ll.md
  docs/reference/homelab/hardware/hardware-reference.md
  docs/reference/homelab/services/cloud-services-reference.md
  docs/reference/supermicro/X11SCL-iF.md
  docs/setup/index.md
  docs/setup/pikvm/pikvm-issues.md
  docs/setup/pikvm/pikvm-setup.md
  docs/setup/proxmox/debian-setup.md
Due: none

.taskfiles formatting and lint taskfile creation
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/lint/Taskfile.yaml
  .taskfiles/pre-commit/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/sops/resources/scripts/install_sops.sh
  .taskfiles/sops/resources/scripts/sops_mac_mismatch.sh
  .taskfiles/sops/resources/scripts/sops_rotate_key.sh
  .taskfiles/sops/resources/scripts/sops_update_key.sh
Due: prettier

megalinter removal for taskfile linting and mkdocs modifications
  .github/renovate/groups.json5
  .github/workflows/lint.yaml
  mkdocs.yml
Due: prettier

devbox ci configuration
  .github/ci/devbox.json
  .github/renovate/groups.json5
  .github/workflows/lint.yaml
Due: prettier

remove devbox ci due to package size and times
  .github/ci/devbox.json
  .github/renovate/groups.json5
  .github/workflows/lint.yaml
Due: prettier

replace packer install with direct installation method
  .github/workflows/lint.yaml
Due: prettier

tflint config module name change
  .github/linters/.tflint.hcl
Due: none

tflint ci fix
  .github/workflows/lint.yaml
Due: prettier

devbox ci attempt 2
  .github/devbox-ci.json
  .github/renovate/groups.json5
  .github/workflows/lint.yaml
Due: prettier

.github devbox-ci to devbox rename
  .github/devbox.json
  .github/renovate/groups.json5
  .github/workflows/lint.yaml
Due: prettier

temporarily disale linting action
  .github/workflows/lint.yaml
Due: prettier

.vscode extension and settings update
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

vscode claude and mkdocs tasks
  .vscode/tasks.json
Due: prettier

Documentation updates
  README.md
  docs/concepts/index.md
  docs/concepts/naming-conventions.md
  docs/concepts/vscode/extensions.md
  docs/how-to/documentation/creating-documentation.md
  mkdocs.yml
Due: prettier, markdownlint

chore(claude): add Claude Code orchestration infrastructure
  .gitignore
  CLAUDE.md
Due: prettier, markdownlint

commit dump, doc formatting and small changes everywhere
  .github/linters/.markdownlint-cli2.yaml
  .github/linters/.markdownlint.yaml
  .pre-commit-config.yaml
  .taskfiles/lint/Taskfile.yaml
  docs/concepts/documentation/documentation-alternatives.md
  docs/concepts/documentation/documentation-methodology.md
  docs/concepts/naming-conventions.md
  docs/concepts/ssh/ssh-certificate-authority.md
  docs/concepts/vscode/extensions.md
  docs/how-to/documentation/creating-documentation.md
  docs/how-to/storage/backups/duplicacy-backups.md
  docs/how-to/storage/drive-health.md
  docs/reference/cisco/cisco-ws-2960l-48ts-ll.md
  docs/reference/homelab/hardware/hardware-reference.md
  docs/reference/homelab/hardware/server-rack-reference.md
  docs/reference/homelab/network/network-reference.md
  docs/reference/homelab/services/cloud-services-reference.md
  docs/reference/supermicro/X11SCL-iF.md
  docs/reference/supermicro/fan-control.md
  docs/setup/index.md
  docs/setup/mgmt/configure-node.md
  docs/setup/mgmt/git-repository-setup.md
  docs/setup/pikvm/pikvm-issues.md
  docs/setup/pikvm/pikvm-setup.md
  docs/setup/proxmox/debian-setup.md
  docs/setup/proxmox/proxmox-cluster-setup.md
  lab/provision/ansible/pikvm/ansible.cfg
  lab/provision/ansible/pikvm/inventory/host_vars/pikvm.sops.yml
  lab/provision/ansible/pikvm/inventory/host_vars/pikvm.yml
Due: prettier

ansible config changes
  lab/provision/ansible/pikvm/ansible.cfg
Due: none

.claude implementation
  .claude/.claudeignore
  .claude/agents/agent-builder.md
  .claude/agents/claude-ecosystem-analyzer.md
  .claude/agents/claude-md-optimizer.md
  .claude/agents/docs-maintainer.md
  .claude/agents/history-analyzer.md
  .claude/agents/homelab-commit-orchestrator.md
  .claude/agents/pr-reviewer.md
  .claude/agents/pre-commit-reviewer.md
  .claude/agents/public-repo-security-reviewer.md
  .claude/agents/renovate-analyzer.md
  .claude/agents/session-closer.md
  .claude/agents/session-initializer.md
  .claude/output-styles/README.md
  .claude/output-styles/code-review.md
  .claude/output-styles/deployment-checklist.md
  .claude/output-styles/infrastructure-change.md
  .claude/output-styles/security-audit.md
  .claude/output-styles/terraform-plan.md
  .claude/reference/repo-structure.md
  .claude/reference/tech-stack.md
  .claude/sessions/README.md
  .claude/settings.json
Due: prettier, markdownlint

Remove Claude from homelab - replacing with opencode next commit
  .claude/.claudeignore
  .claude/agents/agent-builder.md
  .claude/agents/claude-ecosystem-analyzer.md
  .claude/agents/claude-md-optimizer.md
  .claude/agents/docs-maintainer.md
  .claude/agents/history-analyzer.md
  .claude/agents/homelab-commit-orchestrator.md
  .claude/agents/pr-reviewer.md
  .claude/agents/pre-commit-reviewer.md
  .claude/agents/public-repo-security-reviewer.md
  .claude/agents/renovate-analyzer.md
  .claude/agents/session-closer.md
  .claude/agents/session-initializer.md
  .claude/output-styles/README.md
  .claude/output-styles/code-review.md
  .claude/output-styles/deployment-checklist.md
  .claude/output-styles/infrastructure-change.md
  .claude/output-styles/security-audit.md
  .claude/output-styles/terraform-plan.md
  .claude/reference/repo-structure.md
  .claude/reference/tech-stack.md
  .claude/sessions/README.md
  .claude/settings.json
  CLAUDE.md
Due: prettier, markdownlint

OpenCode AI overhaul
  .github/linters/.markdownlint-cli2.yaml
  .github/linters/.prettierignore
  .gitignore
  .opencode/.opencodeignore
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pr-reviewer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/renovate-analyzer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/reference/repo-structure.md
  .opencode/reference/tech-stack.md
  .opencode/sessions/README.md
  .opencode/settings/providers.md
  .vscode/extensions.json
  .vscode/tasks.json
  OPENCODE.md
  devbox.json
  devbox.lock
  opencode.jsonc
Due: prettier, markdownlint

chore: remove redundant SOPS taskfile and installation scripts
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/sops/resources/scripts/install_sops.sh
  .taskfiles/sops/resources/scripts/sops_mac_mismatch.sh
  .taskfiles/sops/resources/scripts/sops_rotate_key.sh
  .taskfiles/sops/resources/scripts/sops_update_key.sh
  Taskfile.yml
Due: prettier

Opencode overhaul and agent optimization
  .opencode/.opencodeignore
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pr-reviewer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/renovate-analyzer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/reference/repo-structure.md
  .opencode/reference/tech-stack.md
  .opencode/settings/providers.md
  OPENCODE.md
  devbox.json
  devbox.lock
  opencode.jsonc
Due: prettier, markdownlint

feat(opencode): refine agent ecosystem with bug fixes and integrations
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/agent/web-researcher.md
  OPENCODE.md
  devbox.json
  opencode.jsonc
Due: prettier, markdownlint

opencode formatting and opus main model swap
  opencode.jsonc
Due: none

chore(opencode): migrate to github-copilot provider and file-based agent configs
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/agent/web-researcher.md
  opencode.jsonc
Due: prettier, markdownlint

Update docs for portainer upgrade process
  .github/linters/.markdownlint-cli2.yaml
  OPENCODE.md
  docs/how-to/docker/portainer-upgrade.md
  mkdocs.yml
Due: prettier, markdownlint

Opencode taskfile upgrades
  .taskfiles/opencode/Taskfile.yaml
  Taskfile.yml
Due: prettier

feat(docs): add diagram-generator agent and network topology visualization
  .opencode/agent/diagram-generator.md
  docs/reference/homelab/network/network-topology.md
  mkdocs.yml
  opencode.jsonc
Due: prettier, markdownlint

mkdocs site gen to /tmp dir
  .gitignore
  mkdocs.yml
Due: prettier

chore(opencode): migrate agents from GitHub Copilot to Kimi 2.5
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/diagram-generator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/agent/web-researcher.md
  OPENCODE.md
  opencode.jsonc
Due: prettier, markdownlint

opencode agent modification
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/diagram-generator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/agent/web-researcher.md
  opencode.jsonc
Due: prettier, markdownlint
