Repository ol3d/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: task-lint-fix-prettier, task-lint-fix-terraform, task-lint-fix-packer, task-lint-check-yaml, task-lint-check-markdown

task-lint-fix-prettier:
  name: Task - Fix Prettier Formatting
  entry: task lint:fix:prettier
  language: system
  pass_filenames: false

task-lint-fix-terraform:
  name: Task - Fix Terraform Formatting
  entry: task lint:fix:terraform
  language: system
  pass_filenames: false

task-lint-fix-packer:
  name: Task - Fix Packer Formatting
  entry: task lint:fix:packer
  language: system
  pass_filenames: false

task-lint-check-yaml:
  name: Task - Check YAML Linting
  entry: task lint:check:yaml
  language: system
  pass_filenames: false

task-lint-check-markdown:
  name: Task - Check Markdown Linting
  entry: task lint:check:markdown
  language: system
  pass_filenames: false

devcontainer and opencode restructure
  .devcontainer/Dockerfile
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .gitattributes
  .gitignore
  .opencode/OPENCODE.md
  .opencode/agent/agent-builder.md
  .opencode/agent/commit-orchestrator.md
  .opencode/agent/diagram-generator.md
  .opencode/agent/docs-maintainer.md
  .opencode/agent/ecosystem-analyzer.md
  .opencode/agent/history-analyzer.md
  .opencode/agent/md-optimizer.md
  .opencode/agent/pre-commit-reviewer.md
  .opencode/agent/security-reviewer.md
  .opencode/agent/session-closer.md
  .opencode/agent/session-initializer.md
  .opencode/agent/web-researcher.md
  .opencode/opencode.jsonc
  .opencode/sessions/README.md
  .pre-commit-config.yaml
  OPENCODE.md
  devbox.json
  devbox.lock
Due: task-lint-fix-prettier, task-lint-check-yaml, task-lint-check-markdown

.taskfiles and config structure revamp
  .github/devbox.json
  .sops.yaml
  .taskfiles/config/Taskfile.yml
  .taskfiles/config/resources/schema.yaml
  .taskfiles/config/scripts/configure.py
  .taskfiles/terraform/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yml
  .taskfiles/terraform/aws/Taskfile.yml
  .taskfiles/workspace/Taskfile.yml
  .taskfiles/workspace/aws/Taskfile.yml
  .taskfiles/workspace/aws/scripts/auth.py
  .taskfiles/workspace/scripts/bootstrap.py
  config/homelab.sops.yaml
  config/workspace.sops.yaml
  lab/provision/terraform/modules/aws/dynamodb.tf
  lab/provision/terraform/modules/aws/kms-key.tf
  lab/provision/terraform/modules/aws/kms.tf
  lab/provision/terraform/modules/aws/main.tf
  lab/provision/terraform/modules/aws/s3.tf
  lab/provision/terraform/modules/aws/secret.sops.yaml
  lab/provision/terraform/modules/aws/variables.tf
  lab/provision/terraform/state-backend/.terraform.lock.hcl
  lab/provision/terraform/state-backend/main.tf
  lab/provision/terraform/state-backend/s3.tf
  lab/provision/terraform/state-backend/variables.tf
Due: task-lint-fix-prettier, task-lint-fix-terraform, task-lint-check-yaml

Remove ROADMAP requirement in opencode
  .opencode/OPENCODE.md
  .opencode/opencode.jsonc
Due: task-lint-fix-prettier, task-lint-check-markdown

Taskfiles config and render update to structure
  .taskfiles/config/Taskfile.yml
  .taskfiles/config/resources/schema.yaml
  .taskfiles/config/schemas/cloudflare/schema.yaml
  .taskfiles/config/schemas/homelab/schema.yaml
  .taskfiles/config/schemas/workspace/render.yaml
  .taskfiles/config/schemas/workspace/schema.yaml
  .taskfiles/config/scripts/configure.py
  .taskfiles/workspace/scripts/bootstrap.py
  config/cloudflare.sops.yaml
  config/homelab.sops.yaml
Due: task-lint-fix-prettier, task-lint-check-yaml

Cloudflare terraform taskfile tasks created
  .taskfiles/terraform/Taskfile.yml
  .taskfiles/terraform/cloudflare/Taskfile.yml
Due: task-lint-fix-prettier, task-lint-check-yaml

Terraform AWS provider bump
  lab/provision/terraform/modules/aws/.terraform.lock.hcl
  lab/provision/terraform/modules/aws/main.tf
  lab/provision/terraform/state-backend/.terraform.lock.hcl
  lab/provision/terraform/state-backend/main.tf
Due: task-lint-fix-terraform

Remove unused .vscode files and update root Taskfile
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  Taskfile.yml
Due: task-lint-fix-prettier, task-lint-check-yaml

Bump required terraform provider to current devcontainer version
  lab/provision/terraform/modules/aws/main.tf
  lab/provision/terraform/state-backend/main.tf
Due: task-lint-fix-terraform

Revamp backblaze terraform and taskfiles
  .taskfiles/terraform/Taskfile.yml
  .taskfiles/terraform/backblaze/Taskfile.yml
  config/backblaze.sops.yaml
  lab/provision/terraform/modules/backblaze/.terraform.lock.hcl
  lab/provision/terraform/modules/backblaze/b2-bucket.tf
  lab/provision/terraform/modules/backblaze/main.tf
  lab/provision/terraform/modules/backblaze/secret.sops.yaml
  lab/provision/terraform/modules/backblaze/variables.tf
Due: task-lint-fix-prettier, task-lint-fix-terraform, task-lint-check-yaml

Create backblaze config schema
  .taskfiles/config/schemas/backblaze/schema.yaml
Due: task-lint-fix-prettier, task-lint-check-yaml

Devcontainer post-create bootstrap
  .devcontainer/devcontainer-lock.json
  .devcontainer/post-create.sh
Due: task-lint-fix-prettier

AWS SES Implementation and Mailgun Removal
  .taskfiles/config/schemas/cloudflare/schema.yaml
  .taskfiles/config/schemas/homelab/schema.yaml
  .taskfiles/opencode/Taskfile.yaml
  .taskfiles/terraform/aws/Taskfile.yml
  Taskfile.yml
  config/cloudflare.sops.yaml
  config/homelab.sops.yaml
  lab/provision/terraform/modules/aws/.terraform.lock.hcl
  lab/provision/terraform/modules/aws/main.tf
  lab/provision/terraform/modules/aws/ses.tf
  lab/provision/terraform/modules/aws/smtp.tf
  lab/provision/terraform/modules/cloudflare/.terraform.lock.hcl
  lab/provision/terraform/modules/cloudflare/dns_records.tf
  lab/provision/terraform/modules/cloudflare/main.tf
  lab/provision/terraform/modules/cloudflare/secret.sops.yaml
  lab/provision/terraform/modules/cloudflare/variables.tf
  lab/provision/terraform/modules/cloudflare/zone_settings.tf
  lab/provision/terraform/modules/mailgun/.terraform.lock.hcl
  lab/provision/terraform/modules/mailgun/domain-credential.tf
  lab/provision/terraform/modules/mailgun/domain.tf
  lab/provision/terraform/modules/mailgun/main.tf
  lab/provision/terraform/modules/mailgun/secret.sops.yaml
Due: task-lint-fix-prettier, task-lint-fix-terraform, task-lint-check-yaml

Bump devcontainer terraform version
  .devcontainer/Dockerfile
  .devcontainer/devcontainer-lock.json
Due: task-lint-fix-prettier

Remove cSpell extension and configuration from devcontainer
  .devcontainer/devcontainer.json
Due: task-lint-fix-prettier

devcontainer theme update
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: task-lint-fix-prettier

Remove unused github issues templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Due: task-lint-fix-prettier, task-lint-check-markdown

remove labeler workflow and .github dir cleanup
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yml
Due: task-lint-fix-prettier, task-lint-check-yaml, task-lint-check-markdown

Remove no-op gitattributes sops
  .gitattributes
Due: none

linting overhaul and formatter fixing
  .devcontainer/post-create.sh
  .editorconfig
  .github/linters/.ansible-lint
  .github/linters/.markdownlint-cli2.yaml
  .github/linters/.markdownlint.yaml
  .github/linters/.prettierignore
  .github/linters/.prettierrc.yaml
  .github/linters/.tflint.hcl
  .github/linters/.yamllint.yaml
  .pre-commit-config.yaml
  .taskfiles/lint/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yml
Due: task-lint-fix-prettier, task-lint-check-yaml

Add lint to root taskfile and pre-commit install to devcontainer
  .devcontainer/post-create.sh
  Taskfile.yml
Due: task-lint-fix-prettier, task-lint-check-yaml

rename taskfiles from .yml to .yaml filetype
  .taskfiles/config/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yaml
  .taskfiles/terraform/aws/Taskfile.yaml
  .taskfiles/terraform/backblaze/Taskfile.yaml
  .taskfiles/terraform/cloudflare/Taskfile.yaml
  .taskfiles/workspace/Taskfile.yaml
  .taskfiles/workspace/aws/Taskfile.yaml
  Taskfile.yaml
Due: task-lint-fix-prettier, task-lint-check-yaml

Delete old bootstrap and pre-commit taskfiles; enable ansible taskfile
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/pre-commit/Taskfile.yaml
  Taskfile.yaml
Due: task-lint-fix-prettier, task-lint-check-yaml

Devcontainer file association fix for yml
  .devcontainer/devcontainer.json
Due: task-lint-fix-prettier

pre-commit TODO added
  .pre-commit-config.yaml
Due: task-lint-fix-prettier, task-lint-check-yaml

Path conditions:
  task-lint-fix-prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(js|mjs|cjs)$, \.css$, \.(html|htm|xhtml)$
  task-lint-fix-terraform: any of: \.tf$
  task-lint-fix-packer: any of: \.pkr\.hcl$
  task-lint-check-yaml: any of: \.(yaml|yml)$
  task-lint-check-markdown: any of: \.(md|markdown|mdown)$
